@font-face {
  font-family: "demo";
  src: url('../font/iconfont.eot');
  /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chrome、firefox */ url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
*[data-icon=jia]:before {
  font-family: demo;
  content: "\e600";
}
*[data-icon=jia][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e600";
}
*[data-icon=jia][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=jia][icon-pos=right]:after {
  font-family: demo;
  content: "\e600";
}
*[data-icon=jia][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=jia][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e600";
}
*[data-icon=shoucang]:before {
  font-family: demo;
  content: "\e601";
}
*[data-icon=shoucang][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e601";
}
*[data-icon=shoucang][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=shoucang][icon-pos=right]:after {
  font-family: demo;
  content: "\e601";
}
*[data-icon=shoucang][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=shoucang][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e601";
}
*[data-icon=pinglun]:before {
  font-family: demo;
  content: "\e602";
}
*[data-icon=pinglun][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e602";
}
*[data-icon=pinglun][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=pinglun][icon-pos=right]:after {
  font-family: demo;
  content: "\e602";
}
*[data-icon=pinglun][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=pinglun][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e602";
}
*[data-icon=wode]:before {
  font-family: demo;
  content: "\e603";
}
*[data-icon=wode][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e603";
}
*[data-icon=wode][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=wode][icon-pos=right]:after {
  font-family: demo;
  content: "\e603";
}
*[data-icon=wode][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=wode][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e603";
}
*[data-icon=xinwen]:before {
  font-family: demo;
  content: "\e604";
}
*[data-icon=xinwen][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e604";
}
*[data-icon=xinwen][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=xinwen][icon-pos=right]:after {
  font-family: demo;
  content: "\e604";
}
*[data-icon=xinwen][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=xinwen][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e604";
}
*[data-icon=shipin]:before {
  font-family: demo;
  content: "\e605";
}
*[data-icon=shipin][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e605";
}
*[data-icon=shipin][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=shipin][icon-pos=right]:after {
  font-family: demo;
  content: "\e605";
}
*[data-icon=shipin][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=shipin][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e605";
}
*[data-icon=tupian]:before {
  font-family: demo;
  content: "\e606";
}
*[data-icon=tupian][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e606";
}
*[data-icon=tupian][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=tupian][icon-pos=right]:after {
  font-family: demo;
  content: "\e606";
}
*[data-icon=tupian][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=tupian][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e606";
}
*[data-icon=bofang]:before {
  font-family: demo;
  content: "\e607";
}
*[data-icon=bofang][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e607";
}
*[data-icon=bofang][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=bofang][icon-pos=right]:after {
  font-family: demo;
  content: "\e607";
}
*[data-icon=bofang][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=bofang][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e607";
}
*[data-icon=lipin]:before {
  font-family: demo;
  content: "\e608";
}
*[data-icon=lipin][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e608";
}
*[data-icon=lipin][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=lipin][icon-pos=right]:after {
  font-family: demo;
  content: "\e608";
}
*[data-icon=lipin][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=lipin][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e608";
}
*[data-icon=xin]:before {
  font-family: demo;
  content: "\e609";
}
*[data-icon=xin][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e609";
}
*[data-icon=xin][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=xin][icon-pos=right]:after {
  font-family: demo;
  content: "\e609";
}
*[data-icon=xin][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=xin][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e609";
}
*[data-icon=fanhui]:before {
  font-family: demo;
  content: "\e60a";
}
*[data-icon=fanhui][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e60a";
}
*[data-icon=fanhui][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=fanhui][icon-pos=right]:after {
  font-family: demo;
  content: "\e60a";
}
*[data-icon=fanhui][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=fanhui][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e60a";
}
*[data-icon=fenxiang]:before {
  font-family: demo;
  content: "\e60b";
}
*[data-icon=fenxiang][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e60b";
}
*[data-icon=fenxiang][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=fenxiang][icon-pos=right]:after {
  font-family: demo;
  content: "\e60b";
}
*[data-icon=fenxiang][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=fenxiang][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e60b";
}
